@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root {
        height: 100vh;
    }
    .w-125 {
        width: 500px;
    }
    .w-300 {
        width: 1200px;
    }
}